body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.w-panel-group{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
.w-panel{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
}
.w-panel-title{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:45px;
	background-color:#fe6b5b;
	font-size:18px;
	color:white;
	font-family:"黑体";
	line-height:45px;
	text-align:center;
}
.w-panel-content{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	overflow:auto;
}
.step {
	float: left;
	cellpadding: 0px;
	cellspacing: 0px;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-bottom: 10px solid #f0f0f0;
}

.step-img {
	width: 230px;
	height: 35px;
	margin-top: 10px;
}

.step-tip {
	color: #d0d0d0;
	font-size: 12px;
	height: 30px;
}

.face,.paizhao {
	float: left;
	width: 100%;
}

.face-box {
	width: 250px;
}

.face-img {
	float: left;
	width: 100%;
}

.face-type1 {
	float: right;
	margin-top: -141px;
	margin-right: -8px;
	font-size: 13px;
}

.face-type2 {
	float: left;
	margin-top: -85px;
	margin-left: -8px;
	font-size: 13px;
}

.face-type3 {
	float: right;
	margin-top: -84px;
	margin-right: -8px;
	font-size: 13px;
}

.face-type4 {
	float: left;
	margin-top: -40px;
	margin-left: -8px;
	font-size: 13px;
}

.face-type-img {
	float: left;
	width: 14px;
	margin-right: 1px;
}

.face-type-span {
	float: left;
	margin-top: 0px;
	font-size: 13px;
}

.face-tip {
	height: 100px;
	font-size: 13px;
	color: #333;
}

.check-button {
	float: left;
	margin-left: 10%;
	text-decoration: none;
	width: 80%;
	height: 40px;
	border-radius: 3px;
	background-color: #fe6b5b;
	outline: 0px;
	border: 1px solid #fe6b5b;
	color: white;
	font-size: 14px;
	margin-top:10px;
}
.paizhao-tip1 {
	width: 100%;
	padding-top: 10px;
	font-size: 13px;
	color: #333;
	padding-left: 30px;
	padding-right: 30px;
}

.paizhao-tip2 {
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	color: #fe6b5b;
}

.paizhao-img {
	width: 230px;
}

.paizhao-file {
	float: left;
	width: 80%;
	height: 40px;
	margin-top: -40px;
	margin-left: 10%;
	z-index: 99;
	border: none;
	-webkit-opacity: 0;
	display: block;
	opacity: 0;
}

.paizhao-tip3 {
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 13px;
	color: #d0d0d0;
}

.question {
	color: #3a3939;
	width: 100%;
	min-height: 40px;
}

.question-accordion {
	float: left;
	width: 100%;
	background-color: white;
}

.question-accordion,.question-accordion ul,.question-accordion li {
	margin: 0px 0 0 0;
	padding: 0;
	border: none;
	outline: none;
}

.question-accordion li>.sub-menu {
	display: none;
}

.question-accordion li:target>.sub-menu {
	display: block;
}

.question-accordion li {
	list-style: none;
	height: auto;
}

.sub-menu li:hover a {
	background: #efefef;
}

.question-accordion li>.sub-menu li {
	width: 100%;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
}

.question-accordion li>a {
	width: 100%;
	color: #3a3939;
}

.question-title-bar {
	float: left;
	width: 7px;
	height: 16px;
	margin-top: 12px;
	margin-right: 5px;
	margin-left: 20px;
	background-color: #fe6b5b;
}

.question-title-name {
		min-height: 40px;
	
	font-size: 14px;
	padding-left: 20px;
padding-top:11px;
	display: block;
	color: #666;
	padding-right: 10px;
}

.question-accordion li>a:hover,.question-accordion li>a:active {
	text-decoration: none;
}

.question-accordion li>.question-line {
	float: left;
	border-bottom: 1px solid #e0e0e0;
	width: 100%;
	height: 1px;
}

.question-answer {
	float: left;
	line-height: 20px;
	height: 20px;
	padding: 0px;
	width: 45px;
	font-size: 12px;
	margin-right: 8px;
	color: #333;
	border: 1px solid #fe6b5b;
	border-radius: 10px;
	text-align: center;
	background-color: white;
}

.question-answer img {
	width: 13px;
	height: 13px;
	float: left;
	margin-top: 2px;
	margin-right: 3px;
}
.jindu{
	position:fixed;
	width:100%;
	height:10px;
	left:0px;
	bottom:0px;
}
.jindus{
	float:left;
	width:0px;
	height:10px;
	border-radius:0px 5px 5px 0px;
	background-color:#fe6b5b;
}
